body{
	background-color: rgb(83, 243, 190);
	font-family: Helvetica;
	text-align: center;
	font-size: 16px;
}
#container{
	color: #161616;
	text-align: left;
	width: 70%;
	padding: 1em;
	border: 1px solid black;
	background-color: white;
	margin: 0 auto;
}
#container h1{
	font-size: 35px;
}
#post{
	color: #161616;
}