body{
	background-color: rgb(83, 243, 190);
	font-family: Helvetica;
	text-align: center;
	font-size: 16px;
}
#container{
	color: #f00c0c;
	text-align: left;
	width: 70%;
	padding: 0;
	border: 1px solid black;
	background-color: white;
	margin: 0 auto;
}
#container h1{
	font-size: 35px;
}
#cabecera{
background-color:rgb(19, 19, 218);
box-shadow: 0px 5px 30px 0px black;
color: white;
font-weight: bold;
margin: 0;
padding: 0.5em;
}